@charset "utf-8";
@import "utils/variables",
		"utils/mixin";

@import "~select2/dist/css/select2.css";
@import "utils/helper";

$path: '../../images/';

.trolley {
	&__payment {
		background-color: $bg-light;
	}
}

.cart {
	display: flex;

	&__content {
		text-align: center;

		.price {
			&__bill {
				.billSelect {
					display: inline-block;
					vertical-align: middle;
				}
				.priceShow {
					display: inline-block;
					vertical-align: middle;
					font-weight: bold;
					color: $main;
				}
			}

			&__note {
				color: $sub;
			}
		}

		.paragraph {
			color: $sub;
			line-height: 1.5;
		}

		.amount {
			&__text {
				color: $sub;
			}

			&__manual {
				.insert,
				.action {
					display: inline-block;
					vertical-align: middle;
				}
			}

			&__price {
				color: $sub;

				.count {
					font-weight: bold;
					color: $main;
				}
			}
		}
	}
}

.pay {
	.payList {
		@include list-reset;
		text-align: center;

		& > li {
			display: inline-block;
		}
	}
}

// ========== Media Queries ==========
//Small devices (portrait phones, 320 and up)
@media only screen and (min-width: 320px) {
	$fs-title: 1.6rem;
	$fs-topic: 1.2rem;
	$fs-content: 1rem;

	.wrapper {
        padding: 0 2.5rem;
    }

	.trolley {
		&__cart,
		&__payment,
		&__delivery {
			padding: 2.5rem 0;
		}
	}

	.cart {
		flex-direction: column;

		&__sample {
			margin-bottom: 3rem;
		}

		&__content {

			.price {
				&__bill {
					.billSelect {
						width: 5rem;
					}
					.priceShow {
						margin-left: 2.5rem;
						font-size: $fs-topic;
					}
				}

				&__note {
					margin-top: 1.6rem;
					font-size: $fs-content;
				}
			}

			.paragraph {
				margin: 3rem 0;
				font-size: $fs-content;
			}

			.amount {
				&__text {
					margin-bottom: 1.6rem;
					font-size: $fs-content;
				}

				&__manual {
					.insert {
						width: 5rem;
					}

					.action {
						width: 5rem;
						margin-left: 2.5rem;
					}
				}
				&__price {
					margin-top: 1.6rem;
					font-size: $fs-content;

					.count {
						margin-left: 1rem;
						font-size: $fs-topic;
					}
				}
			}
		}
	}

	.pay {
		.payList {
			& > li {
				margin: 0 1rem;
			}
		}
	}
}

//Medium devices (portrait tablets,landscape phone, 768px and up)
@media only screen and (min-width: 768px) {

}

//Large devices (laptops, 1280 and up)
@media only screen and (min-width: 1280px) {
	$fs-title: 36px;
	$fs-topic: 28px;
	$fs-content: 20px;

	.wrapper {
        padding: 0 50px;
    }

	.trolley {
		&__cart,
		&__payment {
			padding: 50px 0;
		}

		&__delivery {
			padding: 50px 0 80px;
		}
	}

	.cart {
		flex-direction: row;

		&__sample {
			margin-bottom: 0;
			flex: 0 0 (500/1820)*100%;
		}

		&__content {
			flex: 0 0 calc(100% - ((500/1820)*100%));

			.price {
				&__bill {
					.billSelect {
						width: 120px;
					}
					.priceShow {
						font-size: $fs-topic;
						margin-left: 30px;
					}
				}

				&__note {
					margin-top: 20px;
					font-size: $fs-content;
				}
			}

			.paragraph {
				margin: 100px 0;
				font-size: $fs-content;
			}

			.amount {
				&__text {
					margin-bottom: 20px;
					font-size: $fs-content;
				}

				&__manual {
					.insert {
						width: 120px;
					}

					.action {
						width: 120px;
						margin-left: 30px;
					}
				}

				&__price {
					margin-top: 20px;
					font-size: $fs-content;

					.count {
						margin-left: 10px;
						font-size: $fs-topic;
					}
				}
			}
		}
	}

	.pay {
		.payList {
			& > li {
				margin: 0 12px;
			}
		}
	}

	.delivery {
		padding: 0 100px;
	}
}

//Extra Large devices (laptops and desktop, 1600 and up)
@media only screen and (min-width: 1600px) {
	$fs-title: 50px;
	$fs-topic: 35px;
	$fs-content: 28px;

	.wrapper {
        padding: 0 100px;
    }

	.trolley {
		&__cart,
		&__payment {
			padding: 100px 0;
		}

		&__delivery {
			padding: 100px 0 130px;
		}
	}

	.cart {

		&__sample {
			flex: 0 0 (500/1720)*100%;
		}

		&__content {
			flex: 0 0 calc(100% - ((500/1720)*100%));

			.price {
				&__bill {
					.billSelect {
						width: 150px;
					}
					.priceShow {
						font-size: $fs-topic;
						margin-left: 50px;
					}
				}

				&__note {
					margin-top: 30px;
					font-size: $fs-content;
				}
			}

			.paragraph {
				margin: 130px 0;
				font-size: $fs-content;
			}

			.amount {
				&__text {
					margin-bottom: 30px;
					font-size: $fs-content;
				}

				&__manual {
					.insert {
						width: 150px;
					}

					.action {
						width: 150px;
						margin-left: 50px;
					}
				}

				&__price {
					margin-top: 30px;
					font-size: $fs-content;

					.count {
						margin-top: 20px;
						font-size: $fs-topic;
					}
				}
			}
		}
	}

	.pay {
		.payList {
			& > li {
				margin: 0 20px;
			}
		}
	}

	.delivery {
		padding: 0 210px;
	}
}


@media only screen and (min-width: 1700px) {
}

@media only screen and (min-width: 1920px) {
}
