@charset "utf-8";
@import "utils/variables",
		"utils/mixin";

$path: '../../images/';

.complete {

	&__title {
		text-align: center;

		h2 {
			font-weight: bold;
			color: $main;
		}
	}

	&__content {
		text-align: center;

		.orderNum {
			font-weight: bold;

			.text {
				color: $main;
			}

			.num {
				display: inline-block;
				color: #e86b59;
				border: 1px solid #e86b59;
			}
		}

		.note {
			color: $sub;

			.highlight {
				color: #e86b59;
			}
		}

        .backTransfer {

			&__title {
				color: $main;
				font-weight: 500;
			}

			&__subTitle {
				color: $sub;
			}

            table {
				color: $sub;
                margin: auto;
                border-collapse: collapse;
				font-size: 16px;
                tbody {
                    td {
                        border: 1px solid #dee2e6;
                    }
                }
                tfoot {
                    text-align: left;
                }
            }

			&__message {
				color: $sub;

                &__qrcode {
                    margin: 10px auto 0;

                    .image {
                        &--qrLine {
                            width: 250px;
                        }
                        &--qrWeixin {
                            width: 275px;
                        }
                    }
                }
			}
        }
	}
}

// ========== Media Queries ==========
//Small devices (portrait phones, 320 and up)
@media only screen and (min-width: 320px) {
	$fs-title: 1.6rem;
	$fs-topic: 1.2rem;
	$fs-content: 1rem;

	.complete {
		padding: 6rem 0;

		.wrapper {
			padding: 0 2rem;
		}

		&__title {
			margin-bottom: 2rem;

			h2 {
				font-size: $fs-title;
			}
		}

		&__content {
			.orderNum {
				margin-bottom: 2rem;
				font-size: $fs-topic;

				.num {
					margin-left: 1rem;
					padding: 0.4rem 0.8rem 0.8rem 0.8rem;
				}
			}

			.note {
				margin-bottom: 2rem;
				font-size: $fs-content;
			}

            .backTransfer {
                font-size: $fs-content;
                margin-bottom: 4rem;

                &__content {
                    margin: 0.5rem auto 0;
                    table {
                        tbody {
                            td {
                                padding: 0.2rem;
                            }
                        }
                    }
                }

                &__message {
                    margin: 1.5rem auto 0;

                    &__content {
                        margin: 0.5rem auto 0;
                        table {
                            tbody {
                                td {
                                    padding: 0.2rem;
                                }
                            }
                        }
                    }
                }
            }
		}
	}
}

//Medium devices (portrait tablets,landscape phone, 768px and up)
@media only screen and (min-width: 768px) {

}

//Large devices (laptops, 1280 and up)
@media only screen and (min-width: 1280px) {
	$fs-title: 36px;
	$fs-topic: 28px;
	$fs-content: 20px;

	.complete {
		padding: 75px 0;

		.wrapper {
			padding: 0 50px;
		}

		&__title {
			margin-bottom: 20px;

			h2 {
				font-size: $fs-title
			}
		}

		&__content {
			.orderNum {
				margin-bottom: 20px;
				font-size: $fs-topic;

				.num {
					margin-left: 35px;
					padding: 4px 18px 8px 18px;
				}
			}

			.note {
				font-size: $fs-content;
                margin-bottom: 40px;
			}

            .backTransfer {
                font-size: $fs-content;
                margin: 10px auto 80px;

				&__title {
					font-size: $fs-topic;
				}

				&__subTitle {
					font-size: $fs-content;
					margin: 8px 0;
				}

                &__content {
                    margin: 10px auto 0;
                    table {
                        tbody {
                            td {
                                padding: 10px;
                            }
                        }
						tfoot {
                            td {
                                padding: 5px 0;
                            }
                        }
                    }
                }

                &__message {
                    margin: 30px auto 0;
                    &__content {
                        margin: 10px auto 0;
                        table {
                            tbody {
                                td {
                                    padding: 10px;
                                }
                            }
                        }
                    }
                }
            }

			.decoImg {
				width: 880px;
				margin: 0 auto;
			}
		}
	}
}

//Extra Large devices (laptops and desktop, 1600 and up)
@media only screen and (min-width: 1600px) {
	$fs-title: 50px;
	$fs-topic: 35px;
	$fs-content: 28px;

	.complete {
		padding: 100px 0;

		.wrapper {
			padding: 0 100px;
		}

		&__title {
			margin-bottom: 30px;

			h2 {
				font-size: $fs-title;
			}
		}

		&__content {
			.orderNum {
				margin-bottom: 30px;
				font-size: $fs-topic;

				.num {
					margin-left: 50px;
					padding: 8px 24px 12px 24px;
				}
			}

			.note {
				margin-bottom: 100px;
				font-size: $fs-content;
			}

			.decoImg {
				width: 1100px;
			}
		}
	}
}


@media only screen and (min-width: 1700px) {
}

@media only screen and (min-width: 1920px) {
}
